.edit_form{ style: "display:none" }
  = form_for comment, html:{ role: :form } do |f|
    %table.table.table-striped.table-hover
      %tr
        %td= f.text_area  :raw_content, class: "form-control", rows: 7
      %tr
        %td= f.submit t('the_comments.update'), class: "btn btn-success"

  %hr