.comments#comments
  %ol.comments_tree{ data: { comments: { tolarance_time: TheComments.config.tolerance_time  } } }
    = render partial: 'the_comments/haml/comment', locals: { tree: comments_tree }

  - if user_signed_in?
    = render partial: 'the_comments/haml/form', locals: { commentable: commentable }